<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="su.dreamteam.lonja.trainingdiarymvp">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".measurements.MeasurementsActivity"
            android:theme="@style/AppTheme.OverlapSystemBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".addeditmeasurement.AddEditMeasurementActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3e4cb978770358923c83aa7c08d7a23c07c93253" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
